# KiCad generated/local files
**/.history/
*-backups/
*.bak
*.bck
*.lck
*.kicad_prl
*.kicad_pro-bak
*.kicad_sch-bak
*.kicad_pcb-bak
*-cache.lib
*.000
*.sch-bak
*.pcb-bak
fp-info-cache
*.net
*.xml
*.csv
*.pos
*.drl
*.gbr
*.gbrjob
*.rpt
*.wrl
